/* importing especial characters */
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("//cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css"); 
@import url("https://use.fontawesome.com/releases/v5.0.9/css/all.css");


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/*
@media (max-width: 500px)
{
    .header > #nav + label + .main-menu
  {
    //TODO hide the navbar when checkbox is unchekced, using display: none 
    display: none;
    padding: 1px; 
    background-color: rgba(0,0,0,0.7);
    text-align: center;
  }
  .header
  {
    background-color: rgba(0,0,0,0);
    width: 10px;
    top: 15px;
    right: 60px
  }
    .header > #nav:checked + label + .main-menu
  {
    //TODO show navbar when checkbox is checked, using display: block
    display: block;
    transition: 1s;
    width: 1750%;
    right: -60px;
  }
  
    .header > .main-menu {
    
 
    position: absolute;

    top: 48px;
    right: -50px;
   // TODO z-index 100  
    z-index: 100;

    text-align: left;
    background-color: rgba(0,0,0,0.7);
  }  
    .header > label {
    display: inline-block;
    width: 60px;
    height: 60px;
    padding: 16px;

    color: rgba(0,0,0,);
  }
  .title > .apd
  {
    font-size: 230%;
  }
  .title > img
  {
    width:45px;
    top: 10px;
    left: 3%;
  }
  .title > .frat
  {
    font-size: 90%;
    top: 40px;
  }
  .horizontal-line
  {
    font-size: 65%;
    top: 50px;
  }
  .header > .main-menu > li:hover
  {
    background-color: rgb(121,0,201);
    width: 100%;
    transition: 1s;
  }
  .header > .main-menu > li
  {
    width: 100%;
    display: inline-block;
    padding: 10px 0px;
    margin: 0px;
    color: white;
    font-family: sans-serif;
    font-size: 90%;
    text-transform: uppercase;
    transition: 1s;
  }
}*/