/* importing especial characters */
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("//cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css"); 
@import url("https://use.fontawesome.com/releases/v5.0.9/css/all.css");
@import url("https://fonts.googleapis.com/css?family=Caveat");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*header css*/
.grayBackground
{
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.);
}
#container
{
  width: 960px;
  /*line below controls the background color if greater than 1080px, center it*/
  margin: 0px auto;
}
#container > .header-background
{
  width: 100%;
  display: block;
  position: absolute;
  height: 110px;
  background-color: rgba(22,129,174,0.7);
  background-image: linear-gradient(rgba(22,129,174,0.7), white);
  left: 0px;
  z-index: -1;
}
#container > .header
{
  width: 100%;
  display: block;
  position: relative;
  height: 110px;
  /*line below is to change the background color of the header.*/
  /*background-color: rgba(7,207,251,0.7);*/
  background-color: rgba(22,129,174,0);
  font-family: sans-serif;
  left: 0px;
}
#container > .header > input, 
#container > .header > label,
#container > .header > .page-menu 
{
  display: none;
}
#container > .header > .name
{
  display: inline-block;
  position: absolute;
  top: 35px;
  left: 15px;
  font-size: 50px;
  color: black;
}
#container > .header > p
{
  display: block;
  position: absolute;
  text-transform: uppercase;
  font-family: sans-serif;
  top: 85px;
  left: 17px;
}
#container > .header > .quickContact
{
  display: inline-block;
  position: absolute;
  list-style: none;
  font-size: 25px;
  top: 5px;
  right: 15px;
  
}
#container > .header > .quickContact > li > a
{
  text-decoration: white;
  color: black;
  padding: 2px;
  margin: 2px 0 2px 0;
  background-color: white;
}
#container > .header > .quickContact > li:nth-child(2)
{
  text-decoration: white;
  color: black;
  padding-right: 3px;
  background-color: white;
}
#container > .header > hr
{
  position: absolute;
  display: block;
  width: 60%;
  /*color: rgba(22,129,174,1);*/
  bottom: 0px;
  left: 20%;
  color: solid black;
}
#container > .welcomeStatement
{
  position: relative;
  height: 500px;
  /*background-color: white;*/
  display: block;
  width: 100%;
  /*background-color: rgba(7,207,251,0.7);*/

}
#container > .welcomeStatement > img
{
  position: relative;
  display: inline-block;
  width: 30%;
  top: 80px;
}
#container > .welcomeStatement > h2
{
  width: 100%;
  position: absolute;
  top: 34px;
  font-size: 80px;
  text-align:right; 
}
#container > .welcomeStatement > p
{
  position: absolute;
  display: inline-block;
  width: 60%;
  font-size: 50px;
  text-align: right;
  font-family: Caveat;
  /*margin-left: 15%;*/
  top: 55px;
  color: rgba(0,0,0,0.8);
  opacity: 0;
  right: 50px;
}
#container > .welcomeStatement > hr
{
  position: absolute;
  display: block;
  width: 60%;
  color: rgba(22,129,174,1);
  bottom: 5px;
  left: 20%;
}
#container > .aboutMe
{
  position: relative;
  height: 275px;
  background-color: white;
  display: block;
  width: 100%;
  text-align: center;
  font-family: sans-serif;
  font-size: 110%;
}
#container > .aboutMe > h2
{
  padding-top: 60px;
  text-decoration: underline;
  opacity: 0;
}
#container > .aboutMe > p
{
  padding: 30px 40px;
  opacity: 0;
}
#container > hr
{
  margin: -1px 0;
}
#container > .pages > .page-box
{
  display: inline-block;
  position: relative;
  width: 50%;
  height: 400px;
  background-color: white;
  margin-right: -4px;
  font-family: sans-serif;
  opacity: 0;
}
#container > .pages > .page-box > a
{
  display: block;
  text-align: center;
  margin: 150px 100px;
  font-size: 30px;
  text-decoration: none;
  color: black;
  border: 5px;
  border: solid transparent;
  padding: 10px;
}
/*experience tab*/
#container > .pages > .page-box:nth-of-type(1)
{
  /*blue*/
  /*background-color: rgba(22,129,174,1);*/
  /*red-ish*/
  /*background-color: rgba(200,184,225,0);*/
  background-color: rgba(0,0,0,0.25);
}
/*Interests tab*/
#container > .pages > .page-box:nth-of-type(2)
{
  background-color: rgba(22,129,174,1);
}
/*Projects tab*/
#container > .pages > .page-box:nth-of-type(3)
{
  background-color: rgba(22,129,174,0.5);
}
/*Contact tab*/
#container > .pages > .page-box:nth-of-type(4)
{
  /*background-color: rgba(176,68,110,0);*/
  background-color: rgba(0,0,0,0.1);
}
#container > .footer  > .quickLinks
{
  display: block;
  position: relative;
  width: 100%;
  height: 110px;
  color: white;
  font-family: sans-serif;
}
#container > .footer  > .quickLinks > h3
{
  text-align: center;
  padding-top: 20px;
  padding-bottom: 10px;

}
#container > .footer  > .quickLinks > li  
{
  width: 30%;
  color: white;
  padding: 0px 90px;
  list-style-type: none;
  text-align: center;
  display: inline-block;
}
#container > .footer  > .quickLinks > li > a
{
  width: 100%;
  color: white;
  text-decoration:none;
  text-align: left;
  padding-left: 50px;  
}
#container > .footer  > .quickLinks > li:nth-of-type(1)
 {
   margin-left: -4px;
 }
#container > .footer  > .signature
{
  background-color: rgb(72,91,109);
  text-align: right;
  padding-right: 5px; 
  color: rgba(0,0,0,1);
}
#container > .footer-background
{
  display: block;
  position: absolute;
  height: 130px;
  background-color: rgb(72,91,109);
  width: 100%;
  left: 0px;
  z-index: -1;
}
#container > .footer > .signature > p
{
   color: white;
}





@media (max-width: 960px) 
{
  #container
  {
    width: 100%;
    /*line below controls the background color if greater than 1080px, center it*/
    margin: 0px auto;
  }
  #container > .header
  {
    margin: 0px;
    width: 100%;;
    height: 110px;
    font-family: sans-serif;
    left: 0px;
  }
  #container > .header > .name
  {
    display: inline-block;
    /*top: 45px;*/
    left: 15px;
    font-size: 50px;
    color: black;
  }
  #container > .header > .quickContact
  {
    display: inline-block;
    position: absolute;
    list-style: none;
    font-size: 25px;
    top: 5px;
    right: 15px;
    
  }
  #container > .header > .quickContact > li > a
  {
    text-decoration: white;
    color: black;
    padding: 2px;
    margin: 2px 0 2px 0;
    background-color: white;
  }
  #container > .header > .quickContact > li:nth-child(2)
  {
    text-decoration: white;
    color: black;
    padding-right: 3px;
    background-color: white;
  }
  #container > .welcomeStatement
  {
    height: 500px;
    width: 100%;
    /*background-color: rgba(7,207,251,0.7);*/
  }
  #container > .welcomeStatement > p
  {
    /*width: 70%;*/
    /*font-size: 55px;*/
    /*text-align: center;*/
    font-family: Caveat;
    top: 50px;
    color: rgba(0,0,0,0.8);
    opacity: 0;
  }
  #container > .welcomeStatement > hr
  {
    display: block;
    width: 60%;
    color: rgba(22,129,174,1);
    bottom: 5px;
  }
  #container > .aboutMe
  {
    height: 275px;
    background-color: white;
    width: 100%;
    text-align: center;
    font-family: sans-serif;
    font-size: 110%;
  }
  #container > .aboutMe > h2
  {
    padding-top: 40px;
    text-decoration: underline;
    opacity: 0;
  }
  #container > .aboutMe > p
  {
    padding: 30px 40px;
    opacity: 0;
  }
  #container > hr
  {
    margin: -1px;
  }
  #container > .pages > .page-box
  {
    display: inline-block;
    width: 50%;
    height: 400px;
    margin-right: -4px;
  }
  #container > .pages > .page-box > a
  {
    display: block;
    text-align: center;
    margin: 150px 100px;
    font-size: 30px;
    text-decoration: none;
    color: black;
    border: 5px;
    border: solid transparent;
    padding: 10px;
  }
  /*experience tab*/
  #container > .pages > .page-box:nth-of-type(1)
  {
    /*blue*/
    /*background-color: rgba(22,129,174,1);*/
    background-color: rgba(0,0,0,0.25);
  }
  /*Interests tab*/
  #container > .pages > .page-box:nth-of-type(2)
  {
    background-color: rgba(22,129,174,1);
  }
  /*Projects tab*/
  #container > .pages > .page-box:nth-of-type(3)
  {
    background-color: rgba(22,129,174,0.5);
  }
  /*Contact tab*/
  #container > .pages > .page-box:nth-of-type(4)
  {
    /*background-color: rgba(176,68,110,0);*/
    background-color: rgba(0,0,0,0.1);
  }
  #container > .footer  > .quickLinks
  {
    display: block;
    width: 100%;
    height: 110px;
    background-color: rgb(72,91,109);
    color: white;
    font-family: sans-serif;
  }
  #container > .footer  > .quickLinks > h3
  {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;

  }
  #container > .footer  > .quickLinks > li  
  {
    width: 30%;
    color: white;
    padding: 0px 90px;
    list-style-type: none;
    text-align: center;
    display: inline-block;
  }
  #container > .footer  > .quickLinks > li > a
  {
    width: 100%;
    color: white;
    text-decoration:none;
    text-align: left;
    padding-left: 50px;  
  }
  #container > .footer  > .signature
  {
    text-align: right;
    padding-right: 5px; 
  }
}









@media (max-width: 774px) 
{
  #container
  {
    width: 100%;
    /*line below controls the background color if greater than 1080px, center it*/
    margin: 0px auto;
  }
  #container > .header
  {
    margin: 0px;
    width: 100%;;
    height: 110px;
    /*line below is to change the background color of the header.*/
    /*background-color: rgba(7,207,251,0.7);*/
    left: 0px;
  }
  #container > .header > .name
  {
    display: inline-block;
    /*top: 45px;*/
    left: 15px;
    font-size: 50px;
    color: black;
  }
  #container > .header > .quickContact
  {
    display: inline-block;
    position: absolute;
    list-style: none;
    font-size: 25px;
    top: 5px;
    right: 15px;
    
  }
  #container > .header > .quickContact > li > a
  {
    padding: 2px;
    margin: 2px 0 2px 0;
  }
  #container > .header > .quickContact > li:nth-child(2)
  {
    padding-right: 3px;
  }
  #container > .welcomeStatement
  {
    height: 500px;
    width: 100%;
    /*background-color: rgba(7,207,251,0.7);*/
  }
  #container > .welcomeStatement > p
  {
    width: 69%;
    font-size: 50px;
    font-family: Caveat;
    top: 40px;
    color: rgba(0,0,0,0.8);
  }
  #container > .welcomeStatement > hr
  {
    display: block;
    width: 60%;
    color: rgba(22,129,174,1);
    bottom: 5px;
  }
  #container > .aboutMe
  {
    height: 275px;
    background-color: white;
    width: 100%;
    text-align: center;
    font-family: sans-serif;
    font-size: 110%;
  }
  #container > .aboutMe > h2
  {
    padding-top: 40px;
    text-decoration: underline;
    opacity: 0;
  }
  #container > .aboutMe > p
  {
    padding: 30px 40px;
    opacity: 0;
  }
  #container > hr
  {
    margin: -1px;
  }
  #container > .pages > .page-box
  {
    display: inline-block;
    width: 50%;
    height: 400px;
    margin-right: -4px;
  }
  #container > .pages > .page-box > a
  {
    display: block;
    text-align: center;
    margin: 150px 100px;
    font-size: 30px;
    text-decoration: none;
    color: black;
    border: 5px;
    border: solid transparent;
    padding: 10px;
  }
  /*experience tab*/
  #container > .pages > .page-box:nth-of-type(1)
  {
    /*blue*/
    /*background-color: rgba(22,129,174,1);*/
    background-color: rgba(0,0,0,0.25);
  }
  #container > .pages > .page-box:nth-of-type(1) > a
  {
    margin-left: 50px;
    margin-right: 60px;
  }
  /*Interests tab*/
  #container > .pages > .page-box:nth-of-type(2)
  {
    background-color: rgba(22,129,174,1);
  }
  #container > .pages > .page-box:nth-of-type(2) > a
  {
    margin-right: 90px;
  }
  /*Projects tab*/
  #container > .pages > .page-box:nth-of-type(3)
  {
    background-color: rgba(22,129,174,0.5);
  }
  #container > .pages > .page-box:nth-of-type(3) > a
  {
    margin-left: 40px;
    margin-right: 80px;
  }
  /*Contact tab*/
  #container > .pages > .page-box:nth-of-type(4)
  {
    /*background-color: rgba(176,68,110,0);*/
    background-color: rgba(0,0,0,0.1);
  }
  #container > .pages > .page-box:nth-of-type(4) > a
  {
    margin-left: 70px;
    margin-right: 80px;
  }
  #container > .footer  > .quickLinks
  {
    display: block;
    width: 100%;
    height: 110px;
    background-color: rgb(72,91,109);
    color: white;
    font-family: sans-serif;
  }
  #container > .footer  > .quickLinks > h3
  {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;

  }
  #container > .footer  > .quickLinks > li  
  {
    width: 30%;
    color: white;
    padding: 0px 90px;
    list-style-type: none;
    text-align: center;
    display: inline-block;
  }
  #container > .footer  > .quickLinks > li > a
  {
    width: 100%;
    color: white;
    text-decoration:none;
    text-align: left;
    padding-left: 0px;  
  }
  #container > .footer  > .quickLinks > li:nth-of-type(1)
  {
    margin-left: 0px;
  }
  #container > .footer  > .signature
  {
    text-align: right;
    padding-right: 5px; 
  }

}









@media (max-width: 672px) 
{
  #container
  {
    width: 100%;
    /*line below controls the background color if greater than 1080px, center it*/
    margin: 0px auto;
  }
  #container > .header
  {
    margin: 0px;
    width: 100%;;
    height: 110px;
    /*line below is to change the background color of the header.*/
    /*background-color: rgba(7,207,251,0.7);*/
    font-family: sans-serif;
    left: 0px;
  }
  #container > .header > .name
  {
    display: inline-block;
    /*top: 45px;*/
    left: 15px;
    font-size: 50px;
    color: black;
  }
  #container > .header > .quickContact
  {
    display: inline-block;
    position: absolute;
    list-style: none;
    font-size: 25px;
    top: 5px;
    right: 15px;
    
  }
  #container > .header > .quickContact > li > a
  {
    text-decoration: white;
    color: black;
    padding: 2px;
    margin: 2px 0 2px 0;
    background-color: white;
  }
  #container > .header > .quickContact > li:nth-child(2)
  {
    text-decoration: white;
    color: black;
    padding-right: 3px;
    background-color: white;
  }
  #container > .welcomeStatement
  {
    height: 500px;
    width: 100%;
    /*background-color: rgba(7,207,251,0.7);*/
  }
  #container > .welcomeStatement > p
  {
    width: 69%;
    font-size: 45px;
    font-family: Caveat;
    margin-left: 15%;
    top: 40px;
    color: rgba(0,0,0,0.8);
    opacity: 0;
  }
  #container > .welcomeStatement > hr
  {
    display: block;
    width: 60%;
    color: rgba(22,129,174,1);
    bottom: 5px;
  }
  #container > .aboutMe
  {
    height: 275px;
    background-color: white;
    width: 100%;
    text-align: center;
    font-family: sans-serif;
    font-size: 110%;
  }
  #container > .aboutMe > h2
  {
    padding-top: 40px;
    text-decoration: underline;
    opacity: 0;
  }
  #container > .aboutMe > p
  {
    padding: 30px 40px;
    opacity: 0;
  }
  #container > hr
  {
    margin: -1px;
  }
  #container > .pages > .page-box
  {
    display: inline-block;
    width: 50%;
    height: 400px;
    margin-right: -4px;
  }
  #container > .pages > .page-box > a
  {
    display: block;
    text-align: center;
    margin: 150px 100px;
    font-size: 30px;
    text-decoration: none;
    color: black;
    border: 5px;
    border: solid transparent;
    padding: 10px;
  }
  /*experience tab*/
  #container > .pages > .page-box:nth-of-type(1)
  {
    /*blue*/
    /*background-color: rgba(22,129,174,1);*/
    background-color: rgba(0,0,0,0.25);
  }
  #container > .pages > .page-box:nth-of-type(1) > a
  {
    margin-left:60px;
    margin-right: 50px;
  }
  /*Interests tab*/
  #container > .pages > .page-box:nth-of-type(2)
  {
    background-color: rgba(22,129,174,1);
  }
    #container > .pages > .page-box:nth-of-type(2) > a
  {
    margin-left: 60px;
    margin-right: 80px;
  }
  /*Projects tab*/
  #container > .pages > .page-box:nth-of-type(3)
  {
    background-color: rgba(22,129,174,0.5);
  }
  /*Contact tab*/
  #container > .pages > .page-box:nth-of-type(4)
  {
    /*background-color: rgba(176,68,110,0);*/
    background-color: rgba(0,0,0,0.1);
  }
  #container > .footer  > .quickLinks
  {
    display: block;
    width: 100%;
    height: 110px;
    background-color: rgb(72,91,109);
    color: white;
    font-family: sans-serif;
  }
  #container > .footer  > .quickLinks > h3
  {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
  }
  #container > .footer  > .quickLinks > li  
  {
    width: 30%;
    color: white;
    padding: 0px 70px;
    list-style-type: none;
    text-align: center;
    display: inline-block;
  }
  #container > .footer  > .quickLinks > li > a
  {
    width: 100%;
    color: white;
    text-decoration:none;
    text-align: left;
  }
  #container > .footer  > .quickLinks > li:nth-of-type(1)
  {
    margin-left: 0px;
  }
  #container > .footer  > .signature
  {
    text-align: right;
    padding-right: 5px; 
  }
}










@media (max-width: 607px) 
{
  #container > .welcomeStatement > p
  {
    width: 69%;
    font-size: 43px;
  }
}








@media (max-width: 550px) 
{
  #container
  {
    width: 100%;
    /*line below controls the background color if greater than 1080px, center it*/
    margin: 0px auto;
  }
  #container > .header > label
  {
    position: relative;
    top: 50px;
    font-size: 30px;
    left: -2px solid transparent;
    display: inline-block;
    width: 60px;
    height: 60px;
    padding: 10px;
    color: rgba(0,0,0,);
  }
  #container > .header > #nav + label + .page-menu
  {
    /*hide the navbar when checkbox is unchekced, using display: none */
    display: none;
    padding: 10px 5px; 
    background-color: rgba(0,0,0,0.7);
    text-align: left;
    top: 110px;
    left: 0px;
  }  
  #container > .header > .page-menu 
  {
    position: absolute;
    top: 1000px;
    left: 60px;
    z-index: 100;
    text-align: left;
    background-color: rgba(0,0,0,0.7);
    list-style: none;
    width: 150px;
  }  
  #container > .header > .page-menu > li > a
  {
    text-decoration: none;
    color: white;
    font-size: 25px;
  }
  #container > .header > .page-menu > li:hover
  {
    background-color: rgba(22,129,174,0.7);
    transition: 1s;
  }
  #container > .header
  {
    width: 100%;
    height: 110px;
    /*line below is to change the background color of the header.*/
    /*background-color: rgba(7,207,251,0.7);*/
    /*background-color: rgba(22,129,174,0.7);*/
    font-family: sans-serif;
    left: 0px;
  }
  #container > .header > .name
  {
    display: inline-block;
    top: 5px;
    font-size: 35px;
    border: 10px;
    color: black;
    text-align: center;
    width: 50%;
    left: 25%;
  }
  #container > .header > p
  {
    text-align: center;
    width: 50%;
    left: 25%;
    font-size: 13px;
  }
  #container > .header > .quickContact
  {
    display: inline-block;
    position: absolute;
    list-style: none;
    font-size: 25px;
    top: 5px;
    right: 15px;
    
  }
  #container > .header > .quickContact > li > a
  {
    text-decoration: white;
    color: black;
    padding: 2px;
    margin: 2px 0 2px 0;
    background-color: white;
  }
  #container > .welcomeStatement
  {
    height: 450px;
    width: 100%;
    /*background-color: rgba(7,207,251,0.7);*/
  }
  #container > .welcomeStatement > p
  {
    font-size: 250%;
    font-family: Caveat;
    margin-left: 15%;
    top: 30px;
    color: rgba(0,0,0,0.8);
    opacity: 0;
  }
  #container > .welcomeStatement > hr
  {
    display: block;
    width: 60%;
    color: rgba(22,129,174,1);
    bottom: -5px;
    text-align: center;
    z-index: 1;
  }
  #container > .aboutMe
  {
    height: 275px;
    background-color: white;
    width: 100%;
    text-align: center;
    font-family: sans-serif;
    font-size: 110%;
  }
  #container > .aboutMe > h2
  {
    padding-top: 40px;
    text-decoration: underline;
    opacity: 0;
  }
  #container > .aboutMe > p
  {
    padding: 30px 40px;
    opacity: 0;
  }
  #container > hr
  {
    margin: -1px;
  }
  #container > .pages > .page-box
  {
    display: inline-block;
    width: 100%;
    height: 400px;
    margin-right: -4px;
  }
  #container > .pages > .page-box > a
  {
    display: block;
    text-align: center;
    margin: 150px 100px;
    font-size: 30px;
    text-decoration: none;
    color: black;
    border: 5px;
    border: solid transparent;
    padding: 10px;
  }
  /*experience tab*/
  #container > .pages > .page-box:nth-of-type(1)
  {
    /*blue*/
    /*background-color: rgba(22,129,174,1);*/
    background-color: rgba(0,0,0,0.25);
  }
  #container > .pages > .page-box:nth-of-type(1) > a
  {
    margin-left: 50px;
    margin-right: 50px;
  }
  /*Interests tab*/
  #container > .pages > .page-box:nth-of-type(2)
  {
    background-color: rgba(22,129,174,1);
  }
  #container > .pages > .page-box:nth-of-type(2) > a
  {
    margin-left: 50px;
    margin-right: 50px;
  }
  /*Projects tab*/
  #container > .pages > .page-box:nth-of-type(3)
  {
    background-color: rgba(22,129,174,0.5);
  }
  #container > .pages > .page-box:nth-of-type(3) > a
  {
    margin-left: 70px;
    margin-right: 80px;
  }
  /*Contact tab*/
  #container > .pages > .page-box:nth-of-type(4)
  {
    /*background-color: rgba(176,68,110,0);*/
    background-color: rgba(0,0,0,0.1);
  }
  #container > .footer  > .quickLinks
  {
    display: block;
    width: 100%;
    height: 110px;
    background-color: rgb(72,91,109);
    color: white;
    font-family: sans-serif;
  }
  #container > .footer  > .quickLinks > h3
  {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
  }
  #container > .footer  > .quickLinks > li  
  {
    width: 45%;
    color: white;
    padding: 0px 50px;
    list-style-type: none;
    text-align: center;
    display: inline-block;
  }
  #container > .footer  > .quickLinks > li > a
  {
    width: 100%;
    color: white;
    text-decoration:none;
    text-align: left;
  }
  #container > .footer  > .quickLinks > li:nth-of-type(1)
  {
    margin-left: 0px;
  }
  #container > .footer  > .signature
  {
    text-align: right;
    padding-right: 5px; 
  }
}









@media (max-width: 490px) 
{
  #container
  {
    width: 100%;
    /*line below controls the background color if greater than 1080px, center it*/
    margin: 0px auto;
  }
  #container > .header > label
  {
    position: relative;
    top: 50px;
    font-size: 30px;
    left: -2px solid transparent;
    display: inline-block;
    width: 60px;
    height: 60px;
    padding: 10px;
    color: rgba(0,0,0,);
  }
  #container > .header > #nav + label + .page-menu
  {
    /*hide the navbar when checkbox is unchekced, using display: none */
    display: none;
    padding: 10px 5px; 
    background-color: rgba(0,0,0,0.7);
    text-align: left;
    top: 110px;
    left: 0px;
  }  
  #container > .header > .page-menu 
  {
    position: absolute;
    top: 1000px;
    left: 60px;
    z-index: 100;
    text-align: left;
    background-color: rgba(0,0,0,0.7);
    list-style: none;
    width: 150px;
  }  
  #container > .header > .page-menu > li > a
  {
    text-decoration: none;
    color: white;
    font-size: 25px;
  }
  #container > .header > .page-menu > li:hover
  {
    background-color: rgba(22,129,174,0.7);
    transition: 1s;
  }
  #container > .header
  {
    width: 100%;;
    height: 110px;
    /*line below is to change the background color of the header.*/
    /*background-color: rgba(7,207,251,0.7);*/
    /*background-color: rgba(22,129,174,0.7);*/
    font-family: sans-serif;
    left: 0px;
  }
  #container > .header > .name
  {
    display: inline-block;
    border: 10px;
    text-align: center;
    width: 50%;
  }
  #container > .header > .quickContact
  {
    display: inline-block;
    position: absolute;
    list-style: none;
    font-size: 25px;
    top: 5px;
    right: 15px;
    
  }
  #container > .header > .quickContact > li > a
  {
    text-decoration: white;
    color: black;
    padding: 2px;
    margin: 2px 0 2px 0;
    background-color: white;
  }
  #container > .header > .quickContact > li:nth-child(2)
  {
    text-decoration: white;
    color: black;
    padding-right: 3px;
    background-color: white;
  }
  #container > .welcomeStatement
  {
    height: 500px;
    width: 100%;
    /*background-color: rgba(7,207,251,0.7);*/
  }
  #container > .welcomeStatement > p
  {
    width: 70%;
    text-align: center;
    font-family: Caveat;
    margin-left: 15%;
    top: 40px;
    color: rgba(0,0,0,0.8);
    opacity: 0;
  }
  #container > .welcomeStatement > hr
  {
    display: block;
    width: 60%;
    color: rgba(22,129,174,1);
    bottom: 5px;
  }
  #container > .aboutMe
  {
    height: 275px;
    background-color: white;
    width: 100%;
    text-align: center;
    font-family: sans-serif;
    font-size: 100%;
  }
  #container > .aboutMe > h2
  {
    padding-top: 40px;
    text-decoration: underline;
    opacity: 0;
  }
  #container > .aboutMe > p
  {
    padding: 30px 40px;
    opacity: 0;
  }
  #container > hr
  {
    margin: -1px;
  }
  #container > .pages > .page-box
  {
    display: inline-block;
    width: 100%;
    height: 400px;
    margin-right: -4px;
  }
  #container > .pages > .page-box > a
  {
    display: block;
    text-align: center;
    margin: 150px 100px;
    font-size: 30px;
    text-decoration: none;
    color: black;
    border: 5px;
    border: solid transparent;
    padding: 10px;
  }
  /*experience tab*/
  #container > .pages > .page-box:nth-of-type(1)
  {
    /*blue*/
    /*background-color: rgba(22,129,174,1);*/
    background-color: rgba(0,0,0,0.25);
  }
  #container > .pages > .page-box:nth-of-type(1) > a
  {
    margin-left: 50px;
    margin-right: 50px;
  }
  /*Interests tab*/
  #container > .pages > .page-box:nth-of-type(2)
  {
    background-color: rgba(22,129,174,1);
  }
  #container > .pages > .page-box:nth-of-type(2) > a
  {
    margin-left: 50px;
    margin-right: 50px;
  }
  /*Projects tab*/
  #container > .pages > .page-box:nth-of-type(3)
  {
    background-color: rgba(22,129,174,0.5);
  }
  #container > .pages > .page-box:nth-of-type(3) > a
  {
    margin-left: 70px;
    margin-right: 80px;
  }
  /*Contact tab*/
  #container > .pages > .page-box:nth-of-type(4)
  {
    /*background-color: rgba(176,68,110,0);*/
    background-color: rgba(0,0,0,0.1);
  }

}









@media (max-width: 445px) 
{
  #container
  {
    width: 100%;
    /*line below controls the background color if greater than 1080px, center it*/
    margin: 0px auto;
  }
  #container > .header > label
  {
    position: relative;
    top: 50px;
    font-size: 30px;
    left: -2px solid transparent;
    display: inline-block;
    width: 60px;
    height: 60px;
    padding: 10px;
    color: rgba(0,0,0,);
  }
  #container > .header > #nav + label + .page-menu
  {
    /*hide the navbar when checkbox is unchekced, using display: none */
    display: none;
    padding: 10px 5px; 
    background-color: rgba(0,0,0,0.7);
    text-align: left;
    top: 110px;
    left: 0px;
  }  
  #container > .header > .page-menu 
  {
    position: absolute;
    top: 1000px;
    left: 60px;
    z-index: 100;
    text-align: left;
    background-color: rgba(0,0,0,0.7);
    list-style: none;
    width: 150px;
  }  
  #container > .header > .page-menu > li > a
  {
    text-decoration: none;
    color: white;
    font-size: 25px;
  }
  #container > .header > .page-menu > li:hover
  {
    background-color: rgba(22,129,174,0.7);
    transition: 1s;
  }
  #container > .header
  {
    width: 100%;;
    height: 110px;
    font-family: sans-serif;
    left: 0px;
  }
  #container > .header > .name
  {
    display: inline-block;
    /*top: 10px;*/
    /*font-size: 40px;*/
    border: 10px;
    text-align: center;
    /*width: 50%;*/
    /*left: 50px;*/
  }
  #container > .header > .quickContact
  {
    display: inline-block;
    position: absolute;
    list-style: none;
    font-size: 25px;
    top: 5px;
    right: 15px;
    
  }
  #container > .header > .quickContact > li > a
  {
    text-decoration: white;
    color: black;
    padding: 2px;
    margin: 2px 0 2px 0;
    background-color: white;
  }
  #container > .header > .quickContact > li:nth-child(2)
  {
    text-decoration: white;
    color: black;
    padding-right: 3px;
    background-color: white;
  }
  #container > .welcomeStatement
  {
    height: 500px;
    width: 100%;
    /*background-color: rgba(7,207,251,0.7);*/
  }
  #container > .welcomeStatement > p
  {
    width: 70%;
    text-align: center;
    font-family: Caveat;
    margin-left: 15%;
    top: 40px;
    color: rgba(0,0,0,0.8);
    opacity: 0;
    font-size:240%;
  }
  #container > .welcomeStatement > hr
  {
    display: block;
    width: 60%;
    color: rgba(22,129,174,1);
    bottom: 5px;
  }
  #container > .aboutMe
  {
    height: 275px;
    background-color: white;
    width: 100%;
    text-align: center;
    font-family: sans-serif;
    font-size: 100%;
  }
  #container > .aboutMe > h2
  {
    padding-top: 40px;
    text-decoration: underline;
    opacity: 0;
  }
  #container > .aboutMe > p
  {
    padding: 30px 40px;
    opacity: 0;
  }
  #container > hr
  {
    margin: -1px;
  }
  #container > .pages > .page-box
  {
    display: inline-block;
    width: 100%;
    height: 400px;
    margin-right: -4px;
  }
  #container > .pages > .page-box > a
  {
    display: block;
    text-align: center;
    margin: 150px 100px;
    font-size: 30px;
    text-decoration: none;
    color: black;
    border: 5px;
    border: solid transparent;
    padding: 10px;
  }
  /*experience tab*/
  #container > .pages > .page-box:nth-of-type(1)
  {
    /*blue*/
    /*background-color: rgba(22,129,174,1);*/
    background-color: rgba(0,0,0,0.25);
  }
  #container > .pages > .page-box:nth-of-type(1) > a
  {
    margin-left: 50px;
    margin-right: 50px;
  }
  /*Interests tab*/
  #container > .pages > .page-box:nth-of-type(2)
  {
    background-color: rgba(22,129,174,1);
  }
  #container > .pages > .page-box:nth-of-type(2) > a
  {
    margin-left: 50px;
    margin-right: 50px;
  }
  /*Projects tab*/
  #container > .pages > .page-box:nth-of-type(3)
  {
    background-color: rgba(22,129,174,0.5);
  }
  #container > .pages > .page-box:nth-of-type(3) > a
  {
    margin-left: 70px;
    margin-right: 80px;
  }
  /*Contact tab*/
  #container > .pages > .page-box:nth-of-type(4)
  {
    /*background-color: rgba(176,68,110,0);*/
    background-color: rgba(0,0,0,0.1);
  }
}










@media (max-width: 418px) 
{
  #container
  {
    width: 100%;
    /*line below controls the background color if greater than 1080px, center it*/
    margin: 0px auto;
  }
  #container > .header > label
  {
    position: relative;
    top: 50px;
    font-size: 30px;
    left: -2px solid transparent;
    display: inline-block;
    width: 60px;
    height: 60px;
    padding: 10px;
    color: rgba(0,0,0,);
  }
  #container > .header > #nav + label + .page-menu
  {
    /*hide the navbar when checkbox is unchekced, using display: none */
    display: none;
    padding: 10px 5px; 
    background-color: rgba(0,0,0,0.7);
    text-align: left;
    top: 110px;
    left: 0px;
  }  
  #container > .header > .page-menu 
  {
    position: absolute;
    top: 1000px;
    left: 60px;
    z-index: 100;
    text-align: left;
    background-color: rgba(0,0,0,0.7);
    list-style: none;
    width: 150px;
  }  
  #container > .header > .page-menu > li > a
  {
    text-decoration: none;
    color: white;
    font-size: 25px;
  }
  #container > .header > .page-menu > li:hover
  {
    background-color: rgba(22,129,174,0.7);
    transition: 1s;
  }
  #container > .header
  {
    width: 100%;;
    height: 110px;
    font-family: sans-serif;
    left: 0px;
  }
  #container > .header > .name
  {
    display: inline-block;
    /*top: 20px;*/
    /*font-size: 35px;*/
    border: 10px;
    text-align: center;
    /*width: 50%;*/
    /*left: 50px;*/
  }
  #container > .header > .quickContact
  {
    display: inline-block;
    position: absolute;
    list-style: none;
    font-size: 25px;
    top: 5px;
    right: 15px;
    
  }
  #container > .header > .quickContact > li > a
  {
    text-decoration: white;
    color: black;
    padding: 2px;
    margin: 2px 0 2px 0;
    background-color: white;
  }
  #container > .header > .quickContact > li:nth-child(2)
  {
    text-decoration: white;
    color: black;
    padding-right: 3px;
    background-color: white;
  }
  #container > .welcomeStatement
  {
    height: 500px;
    width: 100%;
    /*background-color: rgba(7,207,251,0.7);*/
  }
  #container > .welcomeStatement > p
  {
    width: 80%;
    text-align: center;
    font-family: Caveat;
    margin-left: 10%;
    top: 40px;
    color: rgba(0,0,0,0.8);
    opacity: 0;
    font-size:210%;
  }
  #container > .welcomeStatement > hr
  {
    display: block;
    width: 60%;
    color: rgba(22,129,174,1);
    bottom: 5px;
  }
  #container > .aboutMe
  {
    height: 285%;
    background-color: white;
    width: 100%;
    text-align: center;
    font-family: sans-serif;
    font-size: 100%;
  }
  #container > .aboutMe > h2
  {
    padding-top: 20px;
    text-decoration: underline;
    opacity: 0;
  }
  #container > .aboutMe > p
  {
    padding: 30px 40px;
    opacity: 0;
  }
  #container > hr
  {
    margin: -1px;
  }
  #container > .pages > .page-box
  {
    display: inline-block;
    width: 100%;
    height: 400px;
    margin-right: -4px;
  }
  #container > .pages > .page-box > a
  {
    display: block;
    text-align: center;
    margin: 150px 100px;
    font-size: 30px;
    text-decoration: none;
    color: black;
    border: 5px;
    border: solid transparent;
    padding: 10px;
  }
  /*experience tab*/
  #container > .pages > .page-box:nth-of-type(1)
  {
    /*blue*/
    /*background-color: rgba(22,129,174,1);*/
    background-color: rgba(0,0,0,0.25);
  }
  #container > .pages > .page-box:nth-of-type(1) > a
  {
    margin-left: 50px;
    margin-right: 50px;
  }
  /*Interests tab*/
  #container > .pages > .page-box:nth-of-type(2)
  {
    background-color: rgba(22,129,174,1);
  }
  #container > .pages > .page-box:nth-of-type(2) > a
  {
    margin-left: 50px;
    margin-right: 50px;
  }
  /*Projects tab*/
  #container > .pages > .page-box:nth-of-type(3)
  {
    background-color: rgba(22,129,174,0.5);
  }
  #container > .pages > .page-box:nth-of-type(3) > a
  {
    margin-left: 70px;
    margin-right: 80px;
  }
  /*Contact tab*/
  #container > .pages > .page-box:nth-of-type(4)
  {
    /*background-color: rgba(176,68,110,0);*/
    background-color: rgba(0,0,0,0.1);
  }
}