/* importing especial characters */
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("//cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css"); 
@import url("https://use.fontawesome.com/releases/v5.0.9/css/all.css");
@import url("https://fonts.googleapis.com/css?family=Caveat");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*header css*/
.grayBackground
{
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.);
}
#container
{
  width: 960px;
  /*line below controls the background color if greater than 1080px, center it*/
  margin: 0px auto;
}
#container > .header-background
{
  width: 100%;
  display: block;
  position: absolute;
  height: 110px;
  background-color: rgba(22,129,174,0.7);
  background-image: linear-gradient(rgba(22,129,174,0.7), white);
  left: 0px;
  z-index: -1;
}
#container > .header
{
  width: 100%;
  display: block;
  position: relative;
  height: 110px;
  /*line below is to change the background color of the header.*/
  /*background-color: rgba(7,207,251,0.7);*/
  background-color: rgba(22,129,174,0);
  font-family: sans-serif;
  left: 0px;
}
#container > .header > .name
{
  display: inline-block;
  position: absolute;
  top: 35px;
  left: 15px;
  font-size: 50px;
  color: black;
}
#container > .header > p
{
  display: block;
  position: absolute;
  text-transform: uppercase;
  font-family: sans-serif;
  top: 85px;
  left: 17px;
}
#container > .header > .quickContact
{
  display: inline-block;
  position: absolute;
  list-style: none;
  font-size: 25px;
  top: 5px;
  right: 15px;
  
}
#container > .header > .quickContact > li > a
{
  text-decoration: white;
  color: black;
  padding: 2px;
  margin: 2px 0 2px 0;
  background-color: white;
}
#container > .header > .quickContact > li:nth-child(2)
{
  text-decoration: white;
  color: black;
  padding-right: 3px;
  background-color: white;
}
#container > .header > hr
{
  position: absolute;
  display: block;
  width: 60%;
  /*color: rgba(22,129,174,1);*/
  bottom: 0px;
  left: 20%;
  color: solid black;
}
#container > .menu > input, 
#container > .menu > label
{
  display: none;
}
#container > .menu > .page-menu 
{
	list-style-type: none;
	position: relative;
	background-color: transparent;
	width: 100%;
  top:5px;
  font-family: sans-serif;
}
#container > .menu > .page-menu > li
{
	display: inline-block;
	width: 20%;
  margin-left: -4px;
  text-align: center;
  padding: 15px;
  border-right: 1px solid black;
}
/*eliminate the contact border*/
#container > .menu > .page-menu > li:nth-of-type(5)
{
  border-right: 0px;
}
#container > .menu > .page-menu > li > a
{
	text-decoration: none;
	color: black;
}
#container > .page-title
{
  position: relative;
  display: block;
  width: 70%;
  background-color: green;
  text-align: center;
  left: 15%;
  top: 20px;
  background-color: rgba(22,129,174,0.8);
  height: 100px;
  padding: 20px 0px;
  font-family: sans-serif;
  font-size: 40px;
  color: white;
  text-transform: uppercase;
}
#container > .footer
{
  vertical-align: bottom;
}

#container > .footer  > .quickLinks
{
  display: block;
  position: relative;
  width: 100%;
  height: 110px;
  color: white;
  font-family: sans-serif;
}
#container > .footer  > .quickLinks > h3
{
  text-align: center;
  padding-top: 20px;
  padding-bottom: 10px;

}
#container > .footer  > .quickLinks > li  
{
  width: 30%;
  color: white;
  padding: 0px 90px;
  list-style-type: none;
  text-align: center;
  display: inline-block;
}
#container > .footer  > .quickLinks > li > a
{
  width: 100%;
  color: white;
  text-decoration:none;
  text-align: left;
  padding-left: 50px;  
}
#container > .footer  > .quickLinks > li:nth-of-type(1)
 {
   margin-left: -4px;
 }
#container > .footer  > .signature
{
  background-color: rgb(72,91,109);
  text-align: right;
  padding-right: 5px; 
  color: rgba(0,0,0,1);
}
#container > .footer-background
{
  display: block;
  position: absolute;
  height: 130px;
  background-color: rgb(72,91,109);
  width: 100%;
  left: 0px;
  z-index: -1;
}
